@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.btn--default, .btn--success, .btn--error, .btn--warning, .btn--info {
  width: 95%;
  padding: 0.7142857143em 2.1428571429em;
  margin: 1.5714285714em 1em;
  border: 0;
  border-radius: 0.2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8571428571em;
  font-weight: 400;
  transition: opacity 0.3s; }
  .btn--default:hover, .btn--success:hover, .btn--error:hover, .btn--warning:hover, .btn--info:hover {
    opacity: .75; }
  .btn--default:active, .btn--success:active, .btn--error:active, .btn--warning:active, .btn--info:active {
    opacity: initial; }
  @media (min-width: 1px) and (max-width: 768px) {
    .btn--default, .btn--success, .btn--error, .btn--warning, .btn--info {
      display: block;
      margin: 1.5714285714em auto;
      padding: 0.7142857143em 2.1428571429em; } }

.grid__col .grid__col__col--1, .grid__col .grid__col__col--2, .grid__col .grid__col__col--3, .grid__col .grid__col__col--4, .grid__col .grid__col__col--5, .grid__col .grid__col__col--6, .grid__col .grid__col__col--7, .grid__col .grid__col__col--8, .grid__col .grid__col__col--9, .grid__col .grid__col__col--10, .grid__col .grid__col__col--11, .grid__col .grid__col__col--12 {
  font-size: 0.8571428571em;
  display: block;
  margin: 2em auto;
  padding: 0.6071428571em 0.8571428571em;
  border-radius: 0.2em; }
  @media (min-width: 1px) and (max-width: 768px) {
    .grid__col .grid__col__col--1, .grid__col .grid__col__col--2, .grid__col .grid__col__col--3, .grid__col .grid__col__col--4, .grid__col .grid__col__col--5, .grid__col .grid__col__col--6, .grid__col .grid__col__col--7, .grid__col .grid__col__col--8, .grid__col .grid__col__col--9, .grid__col .grid__col__col--10, .grid__col .grid__col__col--11, .grid__col .grid__col__col--12 {
      width: 100%; } }

* {
  color: #838383;
  font-size: 14px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5714285714;
  font-weight: 400; }

.headline--primary {
  margin-left: 1em;
  color: #58e1c1;
  line-height: 1.2857142857; }

.headline--secondary {
  margin-top: 3em;
  font-weight: 300; }

.link {
  text-decoration: none;
  color: #58e1c1; }

.blockquote {
  font-size: 1.2857142857em;
  font-style: italic;
  font-weight: 300;
  padding-left: 1.1428571429em;
  border-left: solid #58e1c1 0.3571428571em;
  border-radius: 0.2em; }

.container {
  width: 80%;
  margin: 2em auto; }
  @media (min-width: 769px) {
    .container {
      display: flex;
      flex-flow: row wrap; } }

@media (min-width: 1px) and (max-width: 768px) {
  .grid__row {
    margin-bottom: 1.5714285714em; } }
@media (min-width: 769px) {
  .grid__row {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%; } }

@media (min-width: 769px) {
  .grid__col--1 {
    width: 6.5%; }
  .grid__col--2 {
    width: 15%; }
  .grid__col--3 {
    width: 23.5%; }
  .grid__col--4 {
    width: 32%; }
  .grid__col--5 {
    width: 40.5%; }
  .grid__col--6 {
    width: 49%; }
  .grid__col--7 {
    width: 57.5%; }
  .grid__col--8 {
    width: 66%; }
  .grid__col--9 {
    width: 74.5%; }
  .grid__col--10 {
    width: 83%; }
  .grid__col--11 {
    width: 91.5%; }
  .grid__col--12 {
    width: 100%; } }

.grid__col--3.theme__colors {
  background-color: #af9ed1; }
.grid__col--4.theme__colors {
  background-color: #85e7fd; }
.grid__col--5.theme__colors {
  background-color: #89d9a1; }
.grid__col--6.theme__colors {
  background-color: #62bedb; }
.grid__col--7.theme__colors {
  background-color: #eca0a3; }
.grid__col--8.theme__colors {
  background-color: #fea088; }
.grid__col--12.theme__colors {
  background-color: #89d9a1; }
.grid__col .grid__row.theme__colors {
  margin-bottom: 2.8571428571em; }
@media (min-width: 769px) {
  .grid__col .grid__col__col--1 {
    display: flex;
    justify-content: center;
    margin: 1.2857142857em 0.5714285714em;
    text-align: center; } }
@media (min-width: 769px) {
  .grid__col .grid__col__col--2 {
    display: flex;
    justify-content: center;
    margin: 1.2857142857em 0.5714285714em;
    text-align: center; } }
.grid__col .grid__col__col--3 {
  margin-bottom: 2em; }
  @media (min-width: 769px) {
    .grid__col .grid__col__col--3 {
      display: flex;
      justify-content: center;
      margin: 1.2857142857em 0.5714285714em;
      text-align: center; } }
@media (min-width: 769px) {
  .grid__col .grid__col__col--4 {
    display: flex;
    justify-content: center;
    margin: 1.2857142857em 0.5714285714em;
    text-align: center; } }
@media (min-width: 769px) {
  .grid__col .grid__col__col--5 {
    display: flex;
    justify-content: center;
    margin: 1.2857142857em 0.5714285714em;
    text-align: center; } }
@media (min-width: 769px) {
  .grid__col .grid__col__col--6 {
    display: flex;
    justify-content: center;
    margin: 1.2857142857em 0.5714285714em;
    text-align: center; } }
@media (min-width: 769px) {
  .grid__col .grid__col__col--7 {
    display: flex;
    justify-content: center;
    margin: 1.2857142857em 0.5714285714em;
    text-align: center; } }
@media (min-width: 769px) {
  .grid__col .grid__col__col--8 {
    display: flex;
    justify-content: center;
    margin: 1.2857142857em 0.5714285714em;
    text-align: center; } }
@media (min-width: 769px) {
  .grid__col .grid__col__col--9 {
    display: flex;
    justify-content: center;
    margin: 1.2857142857em 0.5714285714em;
    text-align: center; } }
@media (min-width: 769px) {
  .grid__col .grid__col__col--10 {
    display: flex;
    justify-content: center;
    margin: 1.2857142857em 0.5714285714em;
    text-align: center; } }
@media (min-width: 769px) {
  .grid__col .grid__col__col--11 {
    display: flex;
    justify-content: center;
    margin: 1.2857142857em 0.5714285714em;
    text-align: center; } }
@media (min-width: 769px) {
  .grid__col .grid__col__col--12 {
    display: flex;
    justify-content: flex-start;
    margin: 1.2857142857em 0.5714285714em;
    text-align: center; } }

.img--logo {
  display: block;
  margin: 2em auto; }
  @media (min-width: 769px) {
    .img--logo {
      display: inline-block; } }

.img--avatar {
  display: block;
  margin: 0.7142857143em auto;
  height: 150px;
  width: 150px; }

.img--frame {
  width: 100%;
  margin: 1.4285714286em auto;
  padding: 0.5714285714em;
  border: solid #838383 1px; }
  @media (min-width: 769px) {
    .img--frame {
      width: 75%; } }

.nav {
  width: 100%;
  margin: 0 auto 5em;
  padding: 0; }
  .nav .nav__item {
    display: block;
    list-style: none;
    text-align: center;
    text-decoration: none; }
    .nav .nav__item:hover {
      color: #fff;
      background-color: #58e1c1;
      border-radius: 0.2em; }
    .nav .nav__item *:-webkit-any-link {
      text-decoration: none;
      color: inherit; }
  .nav .nav__item * {
    display: block;
    padding: 0.7142857143em; }
  @media (min-width: 769px) {
    .nav {
      display: flex;
      flex-flow: row;
      justify-content: flex-end;
      margin: 0 auto; } }

.form {
  margin-top: 3em; }

.form__label--hidden {
  display: none; }

.form__input {
  display: block;
  width: 90%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #58e1c1 0.3571428571em;
  font-size: 0.8571428571em;
  padding: 0.7142857143em;
  margin: 0 auto 1.7142857143em; }

.btn--default {
  background-color: #58e1c1; }
.btn--success {
  background-color: #63cc82; }
.btn--error {
  background-color: #e4757a; }
.btn--warning {
  background-color: #fd7856; }
.btn--info {
  background-color: #927bc1; }

/*# sourceMappingURL=styles.css.map */
