// ==========================================================================
// Placeholders
// ==========================================================================

// Nav items

%nav-item-link {
  font-weight: $font-weight--light;
  text-align: center;
  font-size: em(18px);
  display: block;
  padding: em(8px, 18px);
  border-bottom: 1px solid transparent;
  @include mq(small) {
    border-bottom-color: palette(grey, xx-light);
    padding-top: em(14px, 18px);
    padding-bottom: em(14px, 18px);
  }
}

%nav-item-on {
  color: palette(black);
  border-color: $color-primary;
}

// Buttons

%btn {
  display: block;
  width: 95%;
  padding: em(10px) em(30px);
  margin: em(22px) auto;
  border: 0;
  border-radius : $br--default;
  color: $white;
  text-transform: uppercase;
  font-size : em(12px);
  font-weight: $font-weight--medium;
  transition: opacity $trns-duration;
  &:hover {
    opacity: .75;
  }
  &:active {
    opacity: initial;
  }
}

// Grid Column Styling

%grid-col-styles {
  display: block;
  font-size: em(12px);
  padding: em(8.5px) em(12px);
  margin: em(6px) auto;
  border-radius: $br--default;
  width: 100%;
  @include mq(medium) {
    @include flexed($dis: flex, $flow: row, $just: center);
  }
}
