// ==========================================================================
// Global Variables
// ==========================================================================

// Font Stacks

$font-url--google         : 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';
$font-family--primary     : 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary   : 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Weights

$font-weight--thin        : 100;
$font-weight--light       : 300;
$font-weight--medium      : 400;
$font-weight--bold        : 700;
$font-weight--extra-bold  : 900;

// Descriptive Colors

$white : #fff;
$black : #0b0b0b;
$grey  : #838383;

$viking         : #58e1c1;
$malibu         : #53ddfc;
$emerald        : #63cc82;
$sunglo         : #e4757a;
$coral          : #fd7856;
$purple-majesty : #927bc1;
$scooter        : #39add1;

// Color Usage

$color-primary    : $viking;
$color-secondary  : $scooter;
$color-accent     : $emerald;
$color-shadow     : rgba($black, .2);

// UI Colors

$ui-colors: (
  default : $malibu,
  success : $emerald,
  error   : $sunglo,
  warning : $coral,
  info    : $purple-majesty
);

// Text

$base__font-size  : 14px;
$base__line       : 22px;
$letter-space     : 1px;

// Border Radius

$br--default      : .2em;
$br--round        : 50%;

// Transitions

$trns-duration  : .3s;

// Path to Assets

$path--rel        : "../img";

// Breakpoints

$brkpoint--sm     : 1px;
$brkpoint--md     : 768px;
