// ==========================================================================
// Forms
// ==========================================================================

.form {
	margin-top: em(42px);
	width: 95%;
	@include flexed($dis: flex, $flow: column, $just: center);
}

.form {
	@include e(label) {
		@include m(hidden) {
			display: none;
		}
	}
}

.form {
	@include e(input) {
		display: block;
	  width: 90%;
	  border-top: none;
	  border-left: none;
	  border-right: none;
	  border-bottom: solid $color-primary em(5px);
	  font-size: em(12px);
	  padding: em(10px);
	  margin: 0 auto em(24px);
	}
}
