// ==========================================================================
// Navigation
// ==========================================================================

ul {
  width: 100%;
  margin: 0 auto 5em;
  padding: 0;
  .nav__item {
    display: block;
    list-style: none;
    text-align: center;
    text-decoration: none;
    &:hover {
      color: $white;
      background-color: $color-primary;
      border-radius: $br--default;
    }
    *:-webkit-any-link {
      text-decoration: none;
      color: inherit;
    }
  }
  .nav__item * {
    display: block;
    padding: em(10px);
  }
  @include mq(medium) {
    display: flex;
    justify-content: flex-end;

  }
}
